# Módulo 1

In [ ]:
idade = 30
print (idade)

idade = 27
print (idade)

nome = "Rafael"
print (nome)

30
27
Rafael

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra +1 
print (qtd_items_carrinho_compra)

1

**Mesma coisa do exemplo acima, porém mais enxuto **

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1 
print (qtd_items_carrinho_compra)

1

EXEMPLO DE MULTIPLICAÇÃO

In [ ]:
preco = 47
qntd = 0.25

total_pagar = preco * qntd
print (total_pagar)

11.75

EXEMPLO DE DIVISÃO COMUM E DIVISÂO DO TIPO INTEIRO

In [ ]:
a = 3
b = 2

c = a/b  
print (c)
print (type(c))

#Exemplo de divisão inteira (//)

d = a//b
print (d)
print (type(d))

1.5
<class 'float'>
1
<class 'int'>

**CONVERÇÃO **

In [ ]:
print(int(3.9))

3

In [ ]:
print(float(3.9))

3.9

In [ ]:
print(complex(1))  # uma variável imaginária é representada pela letra j

(1+0j)

AULA 4 - STRINGS

Armazena TEXTO

* C, EBCA, Rafael Mantoan, 20 anos... 

São do tipo str:

In [ ]:
nome_aula = 'Aula 04, Mósulo 01, Strings'

print (nome_aula)
print(type(nome_aula))

Aula 04, Mósulo 01, Strings
<class 'str'>

4.3 Operações

Operação de variáveis do tipo *STRING* são 

* + (concatenação)

EXEMPLO: Nome completo

In [ ]:
nome = "Rafael"
sobrenome = "Mantoan"

apresentacao = 'Olá, meu nome é ' + nome + ' '+sobrenome+ '.'
print(apresentacao)

Olá, meu nome é Rafael Mantoan.

Uma outra forma de concatenar é :

In [ ]:
nome = 'Rafael'
sobrenome = 'Mantoan'

apresentacao = f'Olá, meu nome é {nome} {sobrenome}' # Não pode ter espaço entre o f e ' que inicia a frase, e as chaves tem que estar dentro do fechamento do mesmo.
print(apresentacao)

Olá, meu nome é Rafael Mantoan

FATIAMENTO (slicing)

Ex.: Informação de e-mail.

In [ ]:
email = 'andre.perez@gmail.com'

#Fatiamento FIXO

print('0:' + email[0])
print('11:' + email[11])

#Invertendo a contagem (de traz para frente)

print('-1:'+ email[-1])
print('-4:'+ email[-4])

0:a
11:@
-1:m
-4:.

FATIAMENTO p/ Intervalo

In [ ]:
email = 'andre.perez@gmail.com'

email_usuario= email[0:11]
print(email_usuario)

# no intervalor ele vai trazer o último valor que foi especificado -1, como podemos verificar na resposta abaixo

andre.perez

In [ ]:
email_provedor= email[11:21]
print(email_provedor)

# nesta caso, obervamos que acrescentamos um valor a mais na cordenado para que o print venha  completo

@gmail.com

MÉTODOS

In [ ]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

# para deixar todas as letras em Maiusculas usamos o recurso UPPER. SINTAXE: (variavel.upper())

print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [ ]:
# Para localizar uma string dentro da variável de texto usamos o FIND. SINTAXE: variavel.find('nome a ser localizado')
# Assim que localizado ele traz o indice q começa a string

posicao1 = endereco.find('1811')
print(posicao1)

#Já neste caso, como sabemos que não a string q estamos procrando não consta em nossa variavel, o mesmo nos retorna -1...
posicao = endereco.find('Andre')
print(posicao)

18
-1

In [ ]:
# O metódo REPLACE vai substituir uma string por outra. SINTAXE:

print(endereco.replace('Avenida','Av'))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

o atributo LEN vai me dizer a qntd de caracteres em uma string

# Modulo 2

**LISTAS **

Armazena sequências mutáveis e ordenadas de valores. São do tipo list.

In [ ]:
usuario_web = ['André Perez', 'andre perez', 'andre123', 'andre.perez@gmail.com']

print(usuario_web)
print(type(usuario_web))

['André Perez', 'andre perez', 'andre123', 'andre.perez@gmail.com']
<class 'list'>

na variavél list, podemos misturas os tipos de dados...

In [ ]:
# Acrescentando dados a lista...  

idade = 20
saldo_conta = 723.15
usuario_loggedin = True

usuario_web = ['André Perez', idade, 'andre perez', 'andre123', 'andre.perez@gmail.com', saldo_conta, usuario_loggedin]

print(usuario_web)
print(type(usuario_web))

['André Perez', 20, 'andre perez', 'andre123', 'andre.perez@gmail.com', 723.15, True]
<class 'list'>

**OPERADOS PARA LISTAS**

Temos a operação de concatenação (+) para a estrutura do tipo list...

In [ ]:
fabricante_china = ['xiomi', 'huawei']
fabricante_eua =['aplle', 'motorola']
fabricante_mobile = fabricante_china + fabricante_eua

print(fabricante_china)
print(fabricante_eua)
print(fabricante_mobile)

['xiomi', 'huawei']
['aplle', 'motorola']
['xiomi', 'huawei', 'aplle', 'motorola']

Outra operação utilizada é a de fatiamento (slicing), semelhante ao de strings:

Ex. Fatiamento FIxo:

In [ ]:
print(f'0: {fabricante_mobile[0]}')
print(f'-1: {fabricante_mobile[-1]}')

0: xiomi
-1: motorola

EX. Fatiamento p/ intervalo

In [ ]:

fabricante_china = fabricante_mobile[0:2]
fabricante_eua = fabricante_mobile[2:len(fabricante_mobile)] # lembrando que "len" quer dizer que ele vai trazer todos os dados até o final da lista

print('china' + str(fabricante_china))
print('eua' + str(fabricante_eua))

china['xiomi', 'huawei']
eua['aplle', 'motorola']

Alterando um elemento especifico;

In [ ]:
print(fabricante_mobile)

['xiomi', 'huawei', 'aplle', 'motorola']

In [ ]:
fabricante_mobile[2] = 'nokia'
print(fabricante_mobile)

['xiomi', 'huawei', 'nokia', 'motorola']

Mutável = sujeito a mudança, alterável...

**MÉTODOS de manipulação**

Inserindo um elemento a lista:

In [ ]:
juros = [0.05, 0.07, 0.02, 0.04, 0.08]
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08]

In [ ]:
# Utilizando o método insert vamos adicionar o elemento. SINTAXE list.insert(index,elemento) 
# Observe que o medo possui 2 parâmetros, index=posição a ser inserida e elemento. Veja ex. abaixo:

juros.insert(0,0.10)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08]

Inserindo elemento no fim da lista

In [ ]:
# Para este caso o médoto será o append. SINTAXE: list.append(elemento)

juros.append(0.09)
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

Removento um elemento

In [ ]:
# Para este caso o médoto será o remove. SINTAXE: list.remove(elemento)

juros = [0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

juros.remove(0.09)
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08]

Removendo um elemento pelo o indice

In [ ]:
# Para este caso o médoto será o pop. SINTAXE: list.pop(indice)

juros = [0.05, 0.07, 0.02, 0.04, 0.08, 0.09]
print(juros)

juros.pop(2)
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08, 0.09]
[0.05, 0.07, 0.04, 0.08, 0.09]

**CONVERSÃO**

Podemos converter alguns tipos de variáveis em listas, como *strings*

In [ ]:
email = 'andre.perez@gmail.com'
caracteres_email = list(email)

print(email)
print(caracteres_email)

andre.perez@gmail.com
['a', 'n', 'd', 'r', 'e', '.', 'p', 'e', 'r', 'e', 'z', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm']

**AULA 2 - Conjuntos**

DEFINIÇÃO 

Armazena sequências imutáveis e desordenadas de valores, sem repetição. São do tipo set

In [ ]:
frutas = {'banana','maca','uva','uva'}

print(frutas)
print(type(frutas))

{'uva', 'maca', 'banana'}
<class 'set'>

**Operações** 

as operações da estrutura do tipo *set *são:

* (diferença) -

In [ ]:
# Exemplo. Países da Europa

norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escadinavia = {'noruega', 'dinamarca', 'suecia'}

norte_europa_nao_escadinavia = norte_europa - escadinavia
print(norte_europa_nao_escadinavia)

{'reino unido', 'russia'}

In [ ]:
# nesse 2º exemplo tbm observamos que a ordem vai importa para o resultado final 

escadinavia_nao_norte_europa = escadinavia - norte_europa
print(escadinavia_nao_norte_europa)

set()

**MÉTODOS DE MANIPULAÇÃO**

In [ ]:
cursos = {'Exatas', 'Humanas', 'Biológicas'}
print(cursos)

{'Biológicas', 'Humanas', 'Exatas'}

Inserindo um elemento no Conjunto.

SINTAXE: set.add(elemento)

In [ ]:
cursos.add('Saúde')
print(cursos)

# Observe que set= nome do conjunto, add é o atributo e entre parentes o que estamos adicionando...

{'Biológicas', 'Saúde', 'Humanas', 'Exatas'}

Removendo um elemento no Conjunto.

SINTAXE: set.remove (elemento)

In [ ]:
cursos.remove('Saúde')
print(cursos)

{'Biológicas', 'Humanas', 'Exatas'}

Obs.: Não conseguimos acessar um elemento de forma especifica nos conjuntos.

Podemos converter listas para conjuntos e vice e versa... 
Veja exemplo abaixo:

In [ ]:
times_paulistas = {'Palmeiras', 'São Paulo', 'Santos', 'Corinthians', "Bragantino"}

print(times_paulistas)

{'Santos', 'São Paulo', 'Corinthians', 'Palmeiras', 'Bragantino'}

In [ ]:
lista_time_paulista = list(times_paulistas)

print(lista_time_paulista)
print(type(lista_time_paulista))
print(len(lista_time_paulista)) # Observe que nesse caso no "len" vai me trazer a qntd de elementos

['Santos', 'São Paulo', 'Corinthians', 'Palmeiras', 'Bragantino']
<class 'list'>
5

**DICIONÁRIOS**

Armazenam sequÊncias no formato chave-valor. São do tipo dict.

In [ ]:
# a chave de o valor vão estar separados por :, conforma no exemplo abaixo:

brasil = {'capital':'Brasília', 'idioma': 'Português', 'população': 210}

print (brasil)
print(type(brasil))

{'capital': 'Brasília', 'idioma': 'Português', 'população': 210}
<class 'dict'>

Obs.: Uma informação importante é que o índice o valor sempre será a chave... Logo no ex. acima o índice de Brasília é capital. 
E outra questão importante tbm é que a chave sempre será uma STRING

Não é permitido chaves duplicadas...Vweja ex. abaixo:

In [ ]:
carro = {
    'marca': 'Volkswagen',
    'modelo' : 'Polo',
    'ano' : 2021,
    'ano': 2004
}

print(carro)

{'marca': 'Volkswagen', 'modelo': 'Polo', 'ano': 2004}

Podemos criar dicionários compostos:

In [ ]:
cadastro = {
    'andre':{
        'nome': 'Andre Perez',
        'ano_nascimento': 1992,
        'pais': {
            'pai':{
              'nome':'<nome-do-pai> Perez',
               'ano_nascimento': 1971
            },
            'mae':{
              'nome': '<nome-da-mae> Perez',
               'ano_nascimento': 1973
            },
        },
    },
}

print

{'corpo': 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...',
 'titulo': 'Modulo 02 | Python: Estrutura de dados'}

Acessando um informação específica do dicionário

In [ ]:
cadastro['andre']['pais']['mae']['ano_nascimento']

1973

MANIPULANDO

In [ ]:
credito = {'123':750,'789':980}

OS elementos são acessados pela sua chave

In [1]:
credito = {'123':750,'789':980}

score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)

750
980

Os elementos são atualizados pela sua chave tbm, porém a chave vem antes do sinal de igual =. Veja abaixo:

In [2]:
credito['123']=435

print(credito)

{'123': 435, '789': 980}

Para criar um no elemento, basta escrever igual a sintaxe de atualização, porém com uma nova chave. Veja abaixo:

In [3]:
credito['456']=1000

print(credito)

{'123': 435, '789': 980, '456': 1000}

**MÉTODOS PARA DICIONÁRIOS **

In [5]:
# Veja abaixo um nova forma de declarar o dicionário, aonde não precisamos declarar a chave como string, pois já está subentendido. Veja a Sintaxe:

artigo= dict(
    titulo='Modulo 02 | Python: Estrutura de dados',
    corpo='Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres=1530
)

print(artigo)

{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1530}

Acidionar/Atualizar um elemento pela chave-valor: dict.update(dict)

In [6]:
total_caracteres = artigo.pop('total_caracteres')

print(artigo)

artigo.update({'total_caracteres':7850})
print(artigo)

{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...'}
{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}

Removendo um elemento do nosso dicioário. Veja SINTAXE:

In [7]:
artigo = dict(
    titulo='Modulo 02 | Python: Estrutura de dados',
    corpo = 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...',
    total_caracteres=1530
) 

print(artigo)

total_caracteres = artigo.pop('total_caracteres')
print(artigo)

{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...', 'total_caracteres': 1530}
{'titulo': 'Modulo 02 | Python: Estrutura de dados', 'corpo': 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...'}

CONVERSÃO

In [ ]:
Podemos converter às chaves e os itens de um dicionário em uma lista...

In [10]:
artigo = dict(
    titulo='Modulo 02 | Python: Estrutura de dados',
    corpo = 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...',
    total_caracteres= 1530
)

In [11]:
chaves= list(artigo.keys())

print(chaves)
print(type(chaves))

['titulo', 'corpo', 'total_caracteres']
<class 'list'>

In [12]:
valores= list(artigo.values())

print(valores)
print(type(valores))

['Modulo 02 | Python: Estrutura de dados', 'Toopicos, Aulas, Listas, Cojuntos, Dicionário,...', 1530]
<class 'list'>