In [ ]:
idade = 30
print (idade)

idade = 27
print (idade)

nome = "Rafael"
print (nome)

30
27
Rafael

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra +1 
print (qtd_items_carrinho_compra)

1

**Mesma coisa do exemplo acima, porém mais enxuto **

In [ ]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1 
print (qtd_items_carrinho_compra)

1

EXEMPLO DE MULTIPLICAÇÃO

In [ ]:
preco = 47
qntd = 0.25

total_pagar = preco * qntd
print (total_pagar)

11.75

EXEMPLO DE DIVISÃO COMUM E DIVISÂO DO TIPO INTEIRO

In [ ]:
a = 3
b = 2

c = a/b  
print (c)
print (type(c))

#Exemplo de divisão inteira (//)

d = a//b
print (d)
print (type(d))

1.5
<class 'float'>
1
<class 'int'>

**CONVERÇÃO **

In [ ]:
print(int(3.9))

3

In [ ]:
print(float(3.9))

3.9

In [ ]:
print(complex(1))  # uma variável imaginária é representada pela letra j

(1+0j)

AULA 4 - STRINGS

Armazena TEXTO

* C, EBCA, Rafael Mantoan, 20 anos... 

São do tipo str:

In [ ]:
nome_aula = 'Aula 04, Mósulo 01, Strings'

print (nome_aula)
print(type(nome_aula))

Aula 04, Mósulo 01, Strings
<class 'str'>

4.3 Operações

Operação de variáveis do tipo *STRING* são 

* + (concatenação)

EXEMPLO: Nome completo

In [ ]:
nome = "Rafael"
sobrenome = "Mantoan"

apresentacao = 'Olá, meu nome é ' + nome + ' '+sobrenome+ '.'
print(apresentacao)

Olá, meu nome é Rafael Mantoan.

Uma outra forma de concatenar é :

In [ ]:
nome = 'Rafael'
sobrenome = 'Mantoan'

apresentacao = f'Olá, meu nome é {nome} {sobrenome}' # Não pode ter espaço entre o f e ' que inicia a frase, e as chaves tem que estar dentro do fechamento do mesmo.
print(apresentacao)

Olá, meu nome é Rafael Mantoan

FATIAMENTO (slicing)

Ex.: Informação de e-mail.

In [ ]:
email = 'andre.perez@gmail.com'

#Fatiamento FIXO

print('0:' + email[0])
print('11:' + email[11])

#Invertendo a contagem (de traz para frente)

print('-1:'+ email[-1])
print('-4:'+ email[-4])

0:a
11:@
-1:m
-4:.

FATIAMENTO p/ Intervalo

In [ ]:
email = 'andre.perez@gmail.com'

email_usuario= email[0:11]
print(email_usuario)

# no intervalor ele vai trazer o último valor que foi especificado -1, como podemos verificar na resposta abaixo

andre.perez

In [ ]:
email_provedor= email[11:21]
print(email_provedor)

# nesta caso, obervamos que acrescentamos um valor a mais na cordenado para que o print venha  completo

@gmail.com

MÉTODOS

In [ ]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

# para deixar todas as letras em Maiusculas usamos o recurso UPPER. SINTAXE: (variavel.upper())

print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [ ]:
# Para localizar uma string dentro da variável de texto usamos o FIND. SINTAXE: variavel.find('nome a ser localizado')
# Assim que localizado ele traz o indice q começa a string

posicao1 = endereco.find('1811')
print(posicao1)

#Já neste caso, como sabemos que não a string q estamos procrando não consta em nossa variavel, o mesmo nos retorna -1...
posicao = endereco.find('Andre')
print(posicao)

18
-1

In [ ]:
# O metódo REPLACE vai substituir uma string por outra. SINTAXE:

print(endereco.replace('Avenida','Av'))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

o atributo LEN vai me dizer a qntd de caracteres em uma string